/* Devices with less than 420px screen with */
@media (max-width: 820px) {
  body {
    min-width: 500px;
  }
  .main-container {
    display: flex;
    flex-direction: column;
  }

  .left-side {
    display: grid;
    background-color: bisque;
    background-image: url(images/alexander-grey-TZZwC_xsClY-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 90vh;
    align-content: start;
    justify-content: center;
  }
  .p1 {
    margin-top: 50px;
    text-align: center;
    justify-self: center;
    font-size: 7rem;
    line-height: 0.9;
    color: rgb(247, 247, 247);
    text-shadow: 2px 2px 10px #07090b;
  }
  .p2 {
    color: whitesmoke;
    font-size: 1.5rem;
    line-height: 1.1;
    backdrop-filter: blur(1%) saturate(90%);
    text-shadow: 3px 3px 5px #110f0f;
    max-width: 450px;
    text-align: justify;
    justify-self: center;
  }

  .photo-credit {
    justify-self: end;
    position: absolute;
    margin-right: 30px;
    margin-top: 650px;
  }

  .right-side {
    align-content: center;
  }

  .form {
    justify-content: center;
    margin: auto;
    display: grid;
    max-width: 200px;
    grid-template-rows: repeat(9, 30px);
    gap: 4px;
  }
  .sign-up {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    grid-row: 1 / 3;
  }
  .names {
    display: flex;
    gap: 4px;
    height: 30px;
  }
}
