/* Devices with less than 420px screen with */
@media (max-width: 620px) {
  body {
    /* background-color: bisque; */
    margin: 0;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 250x;
  }

  .left-side {
    font-family: "Labrada", serif;
    /* font-family: "Oswald", sans-serif; */
    /* font-family: "Roboto Slab", serif; */

    background-color: rgb(18, 94, 126);
    background-image: url(images/alexander-grey-TZZwC_xsClY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    display: grid;
    grid-template-rows: 2fr 1fr 3fr;
  }

  .p1 {
    margin: auto;
    font-weight: 900;
    font-size: 7rem;
    padding: 10% 4px 0 4px;

    color: rgb(244, 244, 240);
    text-shadow: 0px 12px 10px black;
    line-height: 1;
    text-align: center;
    text-size-adjust: 9;
    height: auto;
  }

  .p2 {
    margin: auto;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.5rem;
    color: rgb(244, 244, 240);
    text-shadow: -2px 2px 3px black;
    line-height: 1;
    text-align: justify;
  }

  .photo-credit {
    display: flex;
    justify-content: end;
  }
  .photo-credit > div {
    text-align: right;
    padding-bottom: 2px;
    padding-right: 5px;
    align-self: end;
  }

  .right-side {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    min-width: 300px;
    font-size: 1rem;
  }

  .sign-up {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 2.25rem;
    font-weight: 800;
    font-family: sans-serif;
  }
  .names {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 4px;
  }

  .password-message {
    font-size: 0.8rem;
    text-overflow: initial;
  }

  input {
    border-radius: 5px;
    border: 0.05rem solid rgb(105, 105, 105);
  }
}
