/* Devices with less than 420px screen with */
@media (max-width: 800px) {
  .main-container {
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 250x;
  }

  .left-side {
    height: 75vh;
  }

  .p1 {
    font-weight: 900;
    max-width: 600px;
    font-size: 7rem;
    padding: 10% 4px 0 4px;
  }

  .right-side {
    min-width: 300px;
  }
}

/* ---------------------------------------------------- */
/* Bigger Dipplay */
@media (min-width: 801px) {
  .main-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .left-side {
    min-width: 620px;
    height: 100vh;
  }

  .p1 {
    font-weight: 900;
    font-size: 8.5rem;
    padding: 5% 10% 0 5%;
   
  }

  .right-side {
    min-width: 400px;
  }
}
