:root {
  font-family: "Oswald";
}

body {
  min-width: 1100px;
}

.main-container {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: auto;
  height: 100vh;
  min-width: 800px;
  justify-content: center;
}

.left-side {
  background-image: url(../images/alexander-grey-TZZwC_xsClY-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: start;
  justify-content: start;
  min-width: 500px;
  height: inherit;
  padding: 20% 10% 50% 10%;
}
.welcome-text {
  max-width: 550px;
}
.welcome-text > .p1 {
  font-family: "Oswald", sans-serif;
  font-size: 8rem;
  line-height: 0.9;
  width: inherit;
  color: rgb(247, 247, 247);
  text-shadow: 2px 2px 10px #07090b;
}

.photo-credit {
  justify-content: end;
  padding-top: 1px;
}

.welcome-text > .p2 {
  color: whitesmoke;
  font-size: 1.5rem;
  line-height: 1.1;
  backdrop-filter: blur(1px) saturate(90%);
  text-shadow: 3px 3px 10px #000000;
}

.right-side {
  display: grid;
  background-color: none;
  justify-content: center;
  align-content: center;
  min-width: 500px;
  padding: 1%;
}

.form {
  font-family: sans-serif;
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(6);
  grid-template-columns: auto;
  grid-gap: 10px;
  min-width: 450px;
}

.names {
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 8px;
}

.form > .sign-up {
  font-size: 3rem;
  font-weight: 800;
}

.btn {
  color: yellow;
}
